/* Reset */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* main */

html,
body {
    background-color: tan;
    position: relative;
    min-height: 100vh;
}

/* Events */

section {
    width: 100%;
    height: 100vh;
    background: url('/images/header.jpg') no-repeat center center/cover;
}

section .leftBox {
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}

section .leftBox .content {
    color: #fff;
    background: rgb(0, 0, 0, .5);
    padding: 40px;
    transition: .5s;
}

section .leftBox .content:hover {
    background: #e91e63;
}

section .leftBox .content h1 {
    font-size: 50px;
    text-transform: uppercase;
}

section .leftBox .content p {
    margin: 10px 0 0;
}

section .events {
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    float: right;
}

section .events ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
}

section .events ul li {
    list-style: none;
    background: #fff;
    height: 200px;
    margin: 15px 0;
}

section .events ul li .time {
    position: relative;
    padding: 20px;
    background: #262626;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}

section .events ul li:hover .time {
    background: #e91e63;
}

section .events ul li .time h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    line-height: 30px;
}

section .events ul li .time h2 span {
    font-size: 30px;
}

section .events ul li .details {
    padding: 20px;
    background: #fff;
    width: 70%;
    height: 100%;
    float: left;
}

section .events ul li .details h3 {
    position: relative;
    font-size: 22px;
}

section .events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    font-size: 16px;
}

section .events ul li .details a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 2px solid #262626;
    margin-top: 15px;
    font-size: 18px;
    transition: .5s;
    float: right;
}

section .events ul li .details a:hover {
    background: #e91e63;
    color: #fff;
    border-color: aqua;
}

/* Clearing The Float */
.clr {
    clear: both;
}